{
	"experimentalTernaries": false,
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "lf",
	"singleAttributePerLine": true
}
